.topicTrainer {
  margin: 8px 16px;

  .trainerHint {
    height: 32px;
    line-height: 32px;
    margin: 4px 0;
  }

  .task {
    width: 400px;
    height: 260px;
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 130px);
    border: solid 1px #eee;
    padding: 4px 8px;

    .trainerWord {
      line-height: 32px;
      height: 32px;
      margin-bottom: 8px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      font-weight: bold;
    }

    .trainerAnswers {
      .answer {
        height: 28px;
        line-height: 28px;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        margin: 4px 0;
        cursor: pointer;
        padding: 0 8px;
      }

      .answer:hover {
        background: #eee;
      }
    }

    .message {
      margin: 8px 0;
      text-align: center;
      color: darkgreen;
    }

    .message.error {
      color: darkred;
    }

    .nextTaskMessage {
      margin: 8px 0;
      text-align: center;
    }
  }
}
