.topicsPage {
  margin: 8px 16px;

  .topicsHint {
    font-weight: bold;
    font-size: 1.5em;
  }

  .topicList {
    margin: 16px 0;
    display: flex;
    flex-direction: row;

    .topic {
      width: 160px;
      height: 160px;
      margin: 8px;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .topic:hover {
      background: #eee;
    }

    .topic.disabled {
      display: none;
    }
  }
}
