body {
    margin: 0;
    font-family: "Noto Sans", "Arial", SansSerif, serif;
}

input {
    font-family: "Noto Sans", "Arial", SansSerif, serif;
    font-size: 1.05em;
}

button {
    height: 32px;
    min-width: 100px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: "Noto Sans", "Arial", SansSerif, serif;
    font-size: 12pt;
}

button:hover {
    background-color: #e0e0e0;
}